
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

 header{
    background-color: rgba(255, 144, 14, 0.1);
  }
nav h3 { color: rgba(19, 19, 19, 1);}

 nav{display: flex;
justify-content: space-around;
}

nav> ul{ list-style: none;
    display: flex;
  
}
 nav ul li {
    margin-right: 20px;


}

nav li> a {
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}

  

/* navigation banner styles */

.banner{
    max-width: 870px;
    /* height: 375; */
    margin: 0 auto;
}


.banner-title{
font-size: 4rem;
font-weight:bold ;
color: rgba(19, 19, 19, 1);

text-align: center;

margin-bottom: 40px;

}

.banner-description{
    font-size: 1rem;
font-weight:500 ;
color:rgba(114, 114, 114, 1);

text-align: center;

}

.banner-button{
    font-size: 1.25rem;
font-weight:600 ;
color:rgba(255, 255, 255, 1);

text-align: center;
background-color: rgba(255, 144, 14, 1);
padding: 20px 25px;

border-radius: 8px;
margin-left:23vw;
margin-top: 25px;
border: none;

}
.banner-image {
    max-width: 1280px;
    margin: 0   auto ;
}
.banner-image img{ width: 100%;
  
}


/* features part styles */

.features{
    display: flex;
}

.features-images{
    
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2,1fr);
      margin: 12vh 2vw 10vh 10vw;
      
      
  }    


.features-images img{

}

.features-details{


margin: 12vh 10vw 10vh 0;
}


.features-details{
    display: flex;
    align-items: center;

}

.features-details>div{ margin-left: 20px;

}
.features-title{
    font-size: 2.8rem;
color:#727272;
font-weight: 500;
}

.features-description{
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
}

.features-button{
    font-size: 1.25rem;
    font-weight:600 ;
    color:rgba(255, 255, 255, 1);
    text-align: center;
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    
    border-radius: 8px;
    
    border: none;
    
}

.span1{
    color: black;
    font-weight: bold;
}
.span2{
    color:rgba(255, 144, 14, 1) ;
    font-weight: bold;

}



/* enjoy box styles */


.enjoy{display: flex;
max-width: 1140px;
height: auto;
margin: 0 auto;


}

.enjoy-box{
    margin-right: 80px;
}





.aa{
      margin-bottom: 40px;
      background-color: white;
      box-shadow: 10px 1px 30px rgb(241, 239, 239);
}
.enjoy h3{ font-size: 2.8rem;
font-weight: 700;
color: black;
border-left:4px solid tomato;
padding-left: 20px;


}

.enjoy h4{
      font-size: 1.25rem;
      font-weight: 600;
      color: black;
     
      
}

.enjoy p{
      font-size:1rem;
      font-weight: 500;
      color: rgba(114, 114, 114, 1);
}




.enjoy-image button{
      background: rgba(255, 144, 14, 1);
   
padding: 35px 40px;
margin-top:-200px  ;
margin-left: -40px;
 border-radius: 10px;
 border: none;
}


.enjoy-image button .p1{ font-size: 4rem;
font-weight: 700;
color: white;


}
.enjoy-image button  .p2{ font-size: 1.5rem;
      font-weight: 500;
      color: rgb(255, 255, 255);
      
      
      }


      /* gact part styles */
.fact{
    max-width: 600px;
   text-align: left;
   padding-left: 100px;
}
      .fact h3{ font-weight: 700;
        font-size: 2.8rem;
        color: black;
  

      }
.fact> p{ font-weight: 500;
font-size: 1rem;
color: rgba(114, 114, 114, 1);
}



/* extra section design */
.extra{
    display: flex;
    justify-content: space-evenly;
   

}
.extra1{
    border: 2px solid rgba(255, 144, 14, 1);
 
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* 
.extra1 > div{ border: 2px solid gray ;
    margin-top: 50px ; } */

.p3{
    font-weight: 600;
    font-size: 2.8rem;
   color:  rgba(66, 66, 66, 1);
   margin-top: -1px;

   
}

.p4{font-weight: 600;
    font-size: 1.25rem;
   color: rgba(114, 114, 114, 1);
margin-top: -30px;
}



.sponsor{
  display: grid;
  place-items: center;
}
.sponsor-title{
    font-weight: 700;
    font-size: 2.8rem;
   color: rgb(14, 13, 13);

}

.sponsor-description{
    font-weight: 500;
    font-size: 1rem;
   color: rgba(114, 114, 114, 1);
}


.image img{
    margin:20px 30px ;
    filter:grayscale(100%);
}

.last{
   height: 60px; 
    width:70% ; 
     background-color: rgba(255, 244, 231, 1);
     display: grid;

     place-items: center;
     margin:  30px auto   ;
}


.last p{ font-weight: 500;
    font-size: 1rem;
   color: rgba(114, 114, 114, 1);


}

/* small device media query */


@media screen and (max-width:576px){
    .banner-button{
        margin-left:28vw;}

        nav{
            flex-direction: column
        }
        nav h3 {
        
            text-align: center;
        }
    
            
        nav> ul {
            list-style: none;
            display: flex;
            text-align: center;
            flex-direction: column;
        }
    




/* feauture  part styles */
.features {
      
      flex-direction: column;
  }

  .features-images {
      display: grid
  ;
      gap: 20px;
       grid-template-columns: repeat(1, 1fr); 
      margin: 0 auto;
  }



  /* enjoy section styles */


.enjoy{ flex-direction: column-reverse;}
.enjoy-box {
margin-right: 0;
margin-left: 20px;

}

.enjoy-image img{
    width: 100%;
}
.fact {
    padding-left:0px; 
    margin-left: 20px;
}


}







 /*medium device media query */


@media screen and (min-width:576.01px)and (max-width:992px){
    .banner-button{
        margin-left:38vw;
    }
    nav{
        flex-direction: column
    }
     nav h3 {
        
        text-align: center;
    }

        
    nav> ul {
        list-style: none;
        display: flex;
        text-align: center;
        flex-direction: column;
    }


/* features styles */


.features {

      flex-direction: column;
  }


.features-images,.features-details  {
 
    margin: 0 auto; 
}

.features-details>div {
       margin-left: 0px; 
       max-width: 980px;
  }
  .features-images {
       gap: 20px;
    
}

  /* enjoy section styles */

  





}